In [1]:
import pandas as pd

# Load the dataset
file_path = "../data/Game_of_Thrones_Script.csv"
data = pd.read_csv(file_path)

# Standardize character names
data['Name'] = data['Name'].str.title()

data.head()

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011-04-17,Season 1,Episode 1,Winter is Coming,Waymar Royce,What do you expect? They're savages. One lot s...
1,2011-04-17,Season 1,Episode 1,Winter is Coming,Will,I've never seen wildlings do a thing like this...
2,2011-04-17,Season 1,Episode 1,Winter is Coming,Waymar Royce,How close did you get?
3,2011-04-17,Season 1,Episode 1,Winter is Coming,Will,Close as any man would.
4,2011-04-17,Season 1,Episode 1,Winter is Coming,Gared,We should head back to the wall.

In [2]:
# Get number of lines per character and organize them largest to smallest
lines_per_character = data['Name'].value_counts().reset_index()
lines_per_character.columns = ['Character', 'Line Count']

# Find the proportion of lines of each character in regards to the top speaker
top_speaker_lines = lines_per_character.iloc[0]['Line Count']
lines_per_character['Proportion to Top Speaker'] = lines_per_character['Line Count'] / top_speaker_lines

# Display the results
lines_per_character.head(20)

             Character  Line Count  Proportion to Top Speaker
0     Tyrion Lannister        1760                   1.000000
1             Jon Snow        1133                   0.643750
2   Daenerys Targaryen        1048                   0.595455
3     Cersei Lannister        1005                   0.571023
4      Jaime Lannister         945                   0.536932
5          Sansa Stark         784                   0.445455
6           Arya Stark         783                   0.444886
7            Sam Tarly         556                   0.315909
8                Davos         528                   0.300000
9        Theon Greyjoy         455                   0.258523
10       Petyr Baelish         449                   0.255114
11          Bran Stark         399                   0.226705
12               Bronn         393                   0.223295
13                 Man         381                   0.216477
14       Jorah Mormont         381                   0.216477
15     Tywin Lannister         381                   0.216477
16               Varys         371                   0.210795
17             Brienne         370                   0.210227
18        Eddard Stark         347                   0.197159
19          Robb Stark         306                   0.173864